/* Layout
================================ */

body {
	text-transform: lowercase;
	text-align: center;
	background-color: #ebe1d1;
	color: #3a2006;
}

.page-content {
	max-width: 900px;
	background-color: #fff;
	border-radius: 25px;
}

.interaction-area {
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 14px;
}

a, a:hover {
	color: #257a7c;
}

a:hover {
	color: #46b2ac;
	text-decoration: none;
}

.footer {
	max-width: 900px;
	margin-top: 5px;
}

.creator-info {
	text-align: right;
}

/* Input Guess
================================ */

.guess-input {
	width: 130px;
	display: block;
	margin: 10px auto;
	padding-bottom: 15px;
}

.form-control {
	text-align: center;
	height: 130px;
	width: 130px;
	font-size: 60px;
	color: #257a7c;
}

.input-lg {
	height: 150px;
	padding-left: 0;
}

textarea:focus, input:focus, input[type]:focus {   
    border-color: #46b2ac;
    box-shadow: 0 1px 1px #46b2ac inset, 0 0 8px #46b2ac;
    outline: 0 none;
}

[placeholder]::-webkit-input-placeholder { /* WebKit browsers */
    color: #ebe1d1;
}
[placeholder]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ebe1d1;
   opacity: 1;
}
[placeholder]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ebe1d1;
   opacity: 1;
}
[placeholder]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #ebe1d1;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

[placeholder]:focus:-moz-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

[placeholder]:focus::-moz-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

[placeholder]:focus:-ms-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.btn {
	text-transform: lowercase;
}

.btn-guess, .btn-guess:focus {
	display: block;
	width: 130px;
	height: 60px;
	background-color: #257a7c;
	font-size: 24px;
	color: #fff;
	border: none;
	margin-bottom: 4px;
}

.btn-guess:hover {
	background-color: #46b2ac;
	color: #fff;
	border: none;
}

.btn-guess:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.btn-hint, .btn-hint:focus {
	background-color: #f2812b;
	color: #fff;
	width: 47px;
	border: none;
}

.btn-hint:hover {
	background-color: #f1a76f;
	color: #fff;
	border: none;
}

.btn-hint:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.btn-try-again, .btn-try-again:focus {
	background-color: #fb422a;
	color: #fff;
	width: 78px;
	border: none;
}

.btn-try-again:hover {
	background-color: #fa8070;
	color: #fff;
	border: none;
}

.btn-try-again:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

/* Guess Status Area
================================ */

.guess-output {
	width: 230px;
	margin-left: auto;
	margin-right: auto;
}

.guesses-left-box {
	background-color: #257a7c;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 230px;
	margin-top: 20px;
}

.status-box {
	background-color: #257a7c;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 25px;
	width: 230px;
	margin-bottom: 7px;
}

.all-guesses-box {
	background-color: #ebe1d1;
	border-radius: 10px;
	width: 230px;
}

.guesses-left {
	font-size: 20px;
}

h3.updateText {
	margin: 0px;
	padding: 5px;
	color: #fff;
}

ul.guess-list {
	list-style-type: none;
	display: none;
	margin: 0;
	padding-left: 0;
	padding-top: 10px;
}

li {
	font-size: 18px;
	line-height: 100%;
	color: #3a2006;
	padding-bottom: 11px;
}

.correct-guess {
	font-size: 24px;
	color: #257a7c;
}

.wrong-guess {
	font-size: 24px;
	color: #fb422a;
}

/* Numbertron
================================ */

.numbertron {
	display: block;
	margin: 20px auto;
}

@media (max-width: 767px) {
	.numbertron {
		max-width: 200px;
	}
}

@media (min-width: 768px) {
	.numbertron {
		margin-top: 40px;;
	}
}

@media (min-width: 992px) {
	.numbertron {
		margin-top: 15px;
	}
}

/* Layout (screen sizes)
================================ */

@media (max-width: 767px) {
	.page-content {
		background-color: #ebe1d1;
		margin-bottom: 20px;
	}
	.creator-info {
		text-align: center;
	}
	.all-guesses-box {
		background-color: #fff;
		width: 150px;
	}
	.guess-output {
		margin-left: 0;
		width: 150px;
	}
	.guess-input {
		margin-right: 0;
	}
	.guesses-left-box {
		width: 150px;
	}
	.status-box {
		width: 150px;
	}
	.guesses-left {
		font-size: 14px;
	}
	.current-status {
		font-size: 12px;
	}
	.correct-guess {
		font-size: 16px;
	}
	.wrong-guess {
		font-size: 16px;
	}
	li {
		font-size: 13px;
	}
}

@media (min-width: 768px) {
	.page-content {
		margin-top: 50px;
	}
	.guess-info {
		margin-top: 10px;
	}
}

@media (min-width: 992px) {
	.guess-info {
		margin-top: 30px;
	}
}